@import "reset";
@import "variables";
@import "header";
@import "card";
@import "menu";

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: $catalogColumnGap;
  width: $catalogContainerWidth;
  margin: 0 auto;
}

.main {
  margin-top: 50px;
}
