$mainColor: #00acdc;
$topSpaceBetweenCards: 51px;
$catalogCardWidth: 200px;
$headerHeight: 60px;
$quantityCardInLine: 4;
$catalogColumnGap: 48px;
$catalogContainerWidth:
  ($catalogCardWidth * $quantityCardInLine) +
  ($catalogColumnGap * ($quantityCardInLine - 1));
